{%extends "base.html"%}

{%block title%}
Student Table
{%endblock%}

{%block content%}

<form action=""method="post">
    <label for="Name">Name:</label>
    <input type="text" name="Name" placeholder="Name">
    <label for="Age">Age:</label>
    <input type="number" name="Age" placeholder="Age">
    <label for="Roll_NO">Roll No:</label>
    <input type="text" name="Roll_NO" placeholder="Roll_NO">
    <label for="sub1">Subject1:</label>
    <input type="number" name="sub1" placeholder="Mark">
    <label for="sub2">Subject2:</label>
    <input type="number" name="sub2" placeholder="Mark">
    <label for="sub3">Subject3:</label>
    <input type="number" name="sub3" placeholder="Mark">
    <label for="sub4">Subject 4:</label>
    <input type="number" name="sub4" placeholder="Mark"> 
    <label for="sub5">Subject 5:</label>
    <input type="number" name="sub5" placeholder="Mark">
    <input type="submit" value="Submit">
</form>
{%endblock%}